* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#startBtn {
  position: fixed;
  top: 50%;
  z-index: 1000;
}

#audio-canvas.hidden {
  display: none;
}

#webgl-canvas {
  position: fixed;
}
